body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

input {
  padding: 12px 16px; /* Better padding for a larger input */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem; /* Make text inside input bigger */
  width: 250px; /* Adjust this width as needed */
  max-width: 100%;
}

h1 {
  font-size: 5rem;
  color: #333;
  margin-bottom: 20px;
}
